.switch.active .btn i {
    color: rgb(59 232 139)
}

.btn i {
    font-size: 2rem;
    color: rgb(233 89 76);
    transition: all .25s ease;
}

.switch {
    width: 100px;
    height: 355px;
    border-radius: 40px;
    position: relative;
    transition:  all .15s ease;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background: rgba(20,24,28,1);
}

.btn{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10px;
    background: rgba(0,8,16,1);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,.06);
}

.space{
    height: 255px;
    scroll-snap-align: center;
}